#app-deconvolution_pars-folder-modal > div > div > div.modal-body >
div.sF-navigation.btn-toolbar > select {
  width: calc(70% - 340px)
}

.modal {
  overflow-x: clip;
  overflow-y: clip;
}

.modal-dialog {
  margin-top: 60px;
}

// Deconvolution sidebar
#app-deconvolution_pars-path_selected {
  margin-top: -20px;
}

.bslib-sidebar-layout>.sidebar {
  width: 150%;
  box-shadow: 4px 0px 14px 0px #888;
}

.bslib-sidebar-layout>.main {
  margin-left: 8rem;
}

.deconv-param-input .shiny-input-container .control-label,
.deconv-param-input-adv .shiny-input-container .control-label,
.deconv-param-input-time .shiny-input-container .control-label {
  display: none;
}

.deconv-param-input-adv {
  margin-left: -1rem;
}

.deconv-param-input {
  margin-left: -2rem;
  width: 160%;
}

.deconv-param-input-time {
  margin-left: -22px;
  width: 160%;
}

.bslib-card .card-body {
  padding-bottom: 0px;
}

*::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

*::-webkit-scrollbar-track {
  background: #F0F0F0;
}

*::-webkit-scrollbar-thumb {
  background-color: #bcbcbc;
  border: 2px solid #F0F0F0;
  border-radius: 10px;
  min-width: 100px;
  overflow-y: scroll;
}

*::-webkit-scrollbar-corner {
  background: #F0F0F0;
}

.bslib-sidebar-layout>.collapse-toggle {
  border: 1px solid rgba(136,136,136,.3411764706);
  right: -5rem;
  top: 12px;
}

.bslib-sidebar-layout .sidebar-title {
  margin-top: -2rem;
  font-weight: bold;
}

input[type=number]::-webkit-inner-spin-button {
  position: relative;
  left: 7px;
}

#blocking-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: 99999 !important;
  cursor: wait;
}

.progress {
  height: 2em;
  --bs-progress-bar-bg: #35357A;
}

#app-deconvolution_process-deconvolute_progress > div {
  margin-top: 11px;
}

#app-deconvolution_process-deconvolute_end,
app-deconvolution_process-deconvolute_end,
#app-deconvolution_process-deconvolute_start,
app-deconvolution_process-deconvolute_start {
  margin-top: 1em;
}

.bg-dark {
  color: black;
  background-color: #615e1d3d !important;
}

.nav-link, .nav-tabs>li>a {
  color: #35357A;
}

.btn:disabled, .btn.disabled {
  cursor: not-allowed;
}
