body .page-columns {
    display: grid;
    gap: 0;
    grid-template-columns: [screen-start] 1.5em [screen-start-inset] 5fr [page-start page-start-inset] 35px [body-start-outset] 35px [body-start] 1.5em [body-content-start] minmax(500px, calc(75vw - 3em)) [body-content-end] 3em [body-end] 35px [body-end-outset] minmax(75px, 145px) [page-end-inset] 35px [page-end] 5fr [screen-end-inset] 1.5em [screen-end]
}

.quarto-title-block .quarto-title-banner {
    background:
        url(logo_name.png) no-repeat,
        linear-gradient(135deg, #35357A, #4A4A89, #77778F, #B0B0B8, #E0E0E0);
    background-size: 250px, cover;
    background-position: calc(100% - 2rem) center, center;
    background-origin: content-box, border-box;
}

.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
    font-size: 18px;
}

caption, .table-caption {
    text-align: left;
}

li {
    font-size: 14px;
}

.table>thead {
    border: 1px solid transparent;
}

hr {
  margin: 0;
  border: 1px solid #0000008c;
  margin-top: 8vh;
  margin-bottom: 5vh;
  opacity: 1;
}

nav[role=doc-toc] {
    padding-left: 3rem;
}

a {
    text-decoration: none;
    color: #35357A;
}

.sidebar nav[role=doc-toc]>h2, .sidebar nav[role=doc-toc]>.h2,
.sidebar .quarto-code-links>h2 {
    font-size: 16px;
}

*::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: #35357A;
  border: 5px solid white;
  border-radius: 10px;
  min-height: 50px;
  overflow-y: scroll;
}

.comment-text {
  overflow-wrap: anywhere;
}

h4, .h4 {
    opacity: 1;
    margin: 0;
    padding-top: 1rem;
    background-color: #E8CB98;
    padding: 0.5em;
    margin-bottom: 0.5em;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding-left: 1em;
}

section .level4 {
    border: 1px solid black;
    width: 101%;
    border-radius: 5px;
    padding-bottom: 1em;
    margin-top: 8vh;
}

.subtitle-part {
    font-size: 0.7em;
    color: #565656;
    float: right;
    margin-top: 5px;
}

#topBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 999;
    background-color: #35357A;
}

p {
    margin-top: 0;
    margin-bottom: 1em;
    padding-left: 1.2em;
    font-style: italic;
    padding-right: 1.2em;
}
