# Ignore rhino file
KiwiMS_App/.rhino

# Ignore aider
.aider*

# Ignore claude
.claude/

# Ignore testing R scripts
*testing.R

# Ignore R ecosystem
KiwiMS_App/R-Portable/
KiwiMS_App/R-Portable.zip
KiwiMS_App/renv/library/
KiwiMS_App/renv.zip

# Ignore conda environment
KiwiMS_App/env_kiwims/
KiwiMS_App/env_kiwims.zip

# Ignore the installer output
KiwiMS-Windows-x86_64.exe
Output/